
.AddMovieForm {
  form {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0 10px 10px;
  }

  .AddMovieButton {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 10px 0;

    button {
      margin: 5px;
    }
  }
}
