.NavBar {
  display: flex;
  justify-content: space-between;

  .sign-in {
    position: relative;
  }

  .logo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      margin-right: 5px;
      height: 28px;
    }

    a {
      text-decoration: none;
    }
  }

  form {
    position: absolute;
    right: 0;
    border: black 1px solid;
    margin: 10px 0 10px 0;
    padding: 10px;

    .close-btn {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}
